<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Пример авторизации через Loginza API</title>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.js" type="text/javascript"></script>
<!-- Insert Loginza Widget JavaScript Code -->
<script src="http://loginza.ru/js/widget.js" type="text/javascript"></script>

</head>
<body>

{% csrf_token %}
<a href="https://loginza.ru/api/widget?token_url=http://127.0.0.1:8000/" class="loginza">
	{% csrf_token %}
    <img src="http://loginza.ru/img/sign_in_button_gray.gif" alt="Войти через loginza"/>
</a>

<script type="text/javascript">


</script>
</body>
</html>